<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
        {% if messages %}
        <ul class="messages">    
            {% for message in messages %}    
                <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>    
            {% endfor %}
        </ul>
        {% endif %}
    <h1>Hello {{current_user.first_name}}! Make a job!</h1>
    <a href="/logout">Logout</a>

    <form action="/createwish" method='POST'>
    {% csrf_token %}
    
    Title: <input type="text" name='item'>
    Description: <input type="textarea" name='desc'>
    Location: <input type="text" name='loc'>
    <button type='submit'>Submit</button>
    <a href="/dashboard">Cancel</a>
    
    </form>


</body>
</html>