<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>Hello {{current_user.first_name}}! These are the job details!</h1>
    <a href='/dashboard'>Dashboard</a>
    <a href='/logout'>Logout</a>
    <P>Title: {{all_wishes.count}}</P>
    <p>Description: {{your_granted_wishes.count}}</p>
    <p>Location: {{your_pending_wishes.count}}</p>
</body>
</html>